body,
.input-style::placeholder,
.btn-style {
  font-family: cursive, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #f0a3bc;
}

h1 {
  text-align: center;
}

h1,
h2,
.recent {
  color: #9b45b2;
}

.recent-con,
.main {
  display: flex;
}

.recent-con {
  align-items: center;
}

.main {
  justify-content: center;
}

.leaderb-con {
  margin-right: 48px;
}

#leaderboard {
  border: none;
}

.input-style,
.btn-style {
  border-radius: 25px;
}

.recent {
  margin-right: 24px;
}

.btn-style {
  cursor: pointer;
  background-color: #eb6b40;
  border: none;
  transition-duration: 0.3s;
}

.btn-style:hover {
  background-color: #d73b07;
  transform: scale(1.2);
}

.btn-style:active {
  transform: scale(0.9);
}

.score-container {
  padding-left: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.input-style {
  border-color: #9b45b2;
  background-color: pink;
}

.input-style::placeholder {
  color: #d73b07;
}
